[submodule "guestbook-nuxt"]
	path = guestbook-nuxt
	url = git@github.com:becosuke/guestbook-nuxt.git
[submodule "guestbook-api"]
	path = guestbook-api
	url = git@github.com:becosuke/guestbook-api.git
